.drinks_menu_content {
  padding: 20px;

  .menu_cont {
    margin-top: 20px;
    .menu {
      width: 100%;

      tr,
      th,
      td {
        border: 1px solid black;
      }

      tr:nth-child(2n) {
        background: lightgrey;
      }
    }
  }
}
